# logチェック

In [1]:
import os
import glob
import re
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# 3桁区切りのカンマ形式での表示設定
pd.options.display.float_format = '{:,.0f}'.format
from scipy.stats import gmean

## logファイル読み込み

In [2]:
def extract_data_from_logs(log_contents):
    entries = re.split(r'(?=====================)', log_contents)
    data_list = []

    for entry in entries:
        if not entry.strip():
            continue

        # if not re.search(r'Processing input: (\d+)', entry):
        #     print(f"Skipped entry: {entry[:100]}...")  # 先頭100文字だけを表示
        #     continue

        data = {}

        data['input'] = re.search(r'Processing input: (\d+)', entry).group(1) if re.search(r'Processing input: (\d+)', entry) else None
        data['L'] = int(re.search(r'L=(\d+)', entry).group(1)) if re.search(r'L=(\d+)', entry) else None
        data['N'] = int(re.search(r'N=(\d+)', entry).group(1)) if re.search(r'N=(\d+)', entry) else None
        data['S'] = int(re.search(r'S=(\d+)', entry).group(1)) if re.search(r'S=(\d+)', entry) else None
        data['pass_flg'] = re.search(r'pass_flg=(\w+)', entry).group(1) == 'True' if re.search(r'pass_flg=(\w+)', entry) else None

        temp_search = re.search(r'max_temp(erture|erature)=(\d+)', entry)
        data['max_temperature'] = int(temp_search.group(2)) if temp_search else None

        data['interval'] = int(re.search(r'interval=(\d+)', entry).group(1)) if re.search(r'interval=(\d+)', entry) else None
        data['interval_num'] = int(re.search(r'interval_num=(\d+)', entry).group(1)) if re.search(r'interval_num=(\d+)', entry) else None

        data['Score'] = int(re.search(r'Score = (\d+)', entry).group(1)) if re.search(r'Score = (\d+)', entry) else None
        data['Number of wrong answers'] = int(re.search(r'Number of wrong answers = (\d+)', entry).group(1)) if re.search(r'Number of wrong answers = (\d+)', entry) else None
        data['Placement cost'] = int(re.search(r'Placement cost = (\d+)', entry).group(1)) if re.search(r'Placement cost = (\d+)', entry) else None
        data['Measurement cost'] = int(re.search(r'Measurement cost = (\d+)', entry).group(1)) if re.search(r'Measurement cost = (\d+)', entry) else None
        data['Measurement count'] = int(re.search(r'Measurement count = (\d+)', entry).group(1)) if re.search(r'Measurement count = (\d+)', entry) else None

        data_list.append(data)

    return data_list

In [3]:
# for path in glob.glob('./log*.txt'):
#     print(path)

In [4]:
df = pd.DataFrame()
for path in glob.glob('log*.txt'):
    # print(path)
    # サンプルのログファイルを読み込む
    with open(path, 'r') as file:
        log_contents = file.read()
    data_list = extract_data_from_logs(log_contents)
    # for data in data_list:
    #     print(data)
    _df = pd.DataFrame(data_list)
    _df['path'] = path    
    df = pd.concat([df, _df])

In [5]:
df.dropna(subset=['input'], inplace=True)
df

,input,L,N,S,pass_flg,max_temperature,interval,interval_num,Score,Number of wrong answers,Placement cost,Measurement cost,Measurement count,path
0,0000,50,95,36,None,71,71,2,"10,583,953",0,"4,769,266","4,579,000","3,990",log_049.txt
1,0001,35,66,289,None,567,567,2,"502,098",0,"196,252,750","2,811,600","2,442",log_049.txt
2,0002,23,89,324,None,636,636,2,"536,399",0,"182,234,622","4,094,000","3,560",log_049.txt
3,0003,35,61,4,None,32,8,5,"85,393,451",0,"137,750","933,300",854,log_049.txt
4,0004,33,81,529,None,"1,000","1,000",2,"150,886",0,"656,231,144","6,423,300","5,589",log_049.txt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0095,23,94,225,None,441,441,2,"1,066,622",0,"87,280,744","6,373,200","5,546",log_050.txt
96,0096,26,72,900,None,"1,000","1,000",2,"100,538",3,"497,636,566","11,524,800","10,000",log_050.txt
97,0097,33,87,529,None,"1,000","1,000",2,"145,796",0,"680,991,704","4,802,400","4,176",log_050.txt
98,0098,26,84,676,None,"1,000","1,000",2,"144,662",1,"541,394,928","11,520,800","10,000",log_050.txt
99,0099,23,65,36,None,71,71,2,"15,137,177",0,"1,787,252","4,719,000","4,095",log_050.txt

## 合計集計

In [6]:
df.groupby('path')['Score'].sum().sort_values(ascending=False).head(20)

path
log_048.txt   1,350,637,143
log_046.txt   1,334,709,950
log_050.txt   1,324,992,024
log_047.txt   1,320,661,568
log_049.txt   1,310,339,840
log_045.txt   1,292,642,653
log_042.txt   1,286,659,414
log_027.txt   1,282,359,324
log_026.txt   1,275,975,391
log_040.txt   1,272,054,760
log_025.txt   1,271,808,339
log_032.txt   1,270,705,461
log_039.txt   1,270,084,562
log_038.txt   1,265,478,503
log_037.txt   1,263,911,822
log_044.txt   1,260,475,496
log_028.txt   1,254,777,625
log_030.txt   1,240,661,142
log_043.txt   1,238,350,037
log_041.txt   1,226,692,653
Name: Score, dtype: float64

In [7]:
top_path = df.groupby('path')['Score'].sum().sort_values(ascending=False)[:15].index.tolist()
top_path.append('log.txt')

In [8]:
df[df['path'].isin(top_path)].pivot_table(values='Score', index=['S'], columns='path', aggfunc='mean')

path,log.txt,log_025.txt,log_026.txt,log_027.txt,log_032.txt,log_037.txt,log_038.txt,log_039.txt,log_040.txt,log_042.txt,log_045.txt,log_046.txt,log_047.txt,log_048.txt,log_049.txt,log_050.txt
S,,,,,,,,,,,,,,,,
1,"129,582,241","132,942,564","132,942,564","132,942,564","132,942,564","132,942,564","132,942,564","132,942,564","132,942,564","132,942,564","131,592,212","152,291,916","168,074,233","168,074,233","158,574,696","162,237,742"
4,"74,523,175","89,301,668","89,301,668","89,301,668","89,301,668","89,301,668","89,301,668","89,301,668","89,301,668","89,301,668","92,289,806","94,349,184","78,501,176","91,432,434","83,038,371","83,038,371"
9,"36,596,640","33,482,849","33,482,849","39,905,098","33,482,849","39,905,098","39,905,098","39,905,098","39,905,098","39,905,098","50,636,932","44,950,045","37,671,789","37,671,789","43,958,991","43,958,991"
16,"21,196,718","19,571,856","25,480,078","29,514,290","19,571,856","29,514,290","29,514,290","29,514,290","29,514,290","29,514,290","21,476,477","24,660,520","20,398,531","20,398,531","18,059,478","18,059,478"
25,"17,263,651","20,386,965","22,121,783","20,986,790","20,386,965","20,986,790","20,986,790","20,986,790","20,986,790","20,986,790","18,985,437","16,934,349","19,866,056","19,866,056","17,565,204","17,565,204"
36,"12,673,518","17,004,187","17,479,371","16,170,801","17,004,187","16,170,801","16,170,801","16,170,801","16,170,801","16,170,801","16,270,955","13,993,540","14,181,480","14,523,884","14,714,904","14,714,904"
49,"5,674,142","11,309,193","8,171,784","6,022,606","11,309,193","6,022,606","6,022,606","6,022,606","6,022,606","6,022,606","7,873,248","9,659,048","9,648,465","11,134,353","11,134,353","11,134,353"
81,"4,414,490","7,804,300","6,643,325","5,369,374","7,804,300","5,114,670","5,271,189","5,481,777","5,595,408","5,369,374","5,808,572","5,423,569","5,333,442","5,333,442","5,275,557","5,275,557"
100,"6,783,421","10,170,327","8,344,967","7,914,594","10,170,327","7,508,136","7,508,136","7,632,618","6,596,902","7,914,594","5,018,211","3,792,388","5,760,879","5,760,879","6,918,862","6,918,862"
121,"1,218,024","2,690,838","1,956,483","1,491,308","2,690,838","1,875,416","1,875,416","2,017,354","2,214,688","1,491,308","2,327,698","2,596,334","1,930,638","1,930,638","1,930,638","1,930,638"
144,"4,277,261","6,595,548","6,373,104","4,404,620","6,595,548","4,606,282","4,841,806","4,219,458","4,348,975","4,404,620","5,582,598","4,706,286","4,293,710","4,293,710","4,249,906","4,249,906"
169,"1,006,571","2,449,206","1,399,896","1,141,076","2,449,206","1,389,520","1,389,520","1,557,758","1,731,188","1,141,076","2,197,394","2,173,321","1,542,764","1,542,764","1,532,615","1,532,615"
196,"3,771,608","6,058,106","5,115,889","5,005,078","6,058,106","4,993,240","4,993,240","5,278,064","5,108,702","5,005,078","5,807,670","4,769,894","3,432,838","3,432,838","3,554,436","3,554,436"
225,"1,384,463","2,961,366","2,523,380","2,523,380","2,961,366","1,975,698","1,975,698","2,136,382","2,052,959","2,523,380","2,024,477","1,860,975","1,393,086","1,393,086","1,393,086","1,393,086"
256,"284,854","751,677","751,677","751,677","751,677","439,645","439,645","499,264","572,623","751,677","792,796","792,618","562,253","562,253","562,253","562,253"
289,"361,282","1,134,409","1,134,409","1,134,409","1,134,409","560,888","560,888","636,978","727,806","1,134,409","871,233","877,410","556,776","556,776","506,468","506,468"
324,"397,014","1,544,809","1,544,809","1,544,809","1,544,809","600,352","600,352","676,074","765,258","1,544,809","824,694","849,687","497,289","491,920","501,662","501,662"
361,"437,762","1,823,580","1,823,580","1,823,580","1,823,580","674,974","674,974","762,389","869,833","1,823,506","717,522","720,259","460,641","460,641","461,183","461,183"
400,"161,910","956,094","956,094","956,094","956,094","271,591","271,591","309,824","354,472","956,094","384,925","370,007","245,321","245,321","238,329","238,329"
441,"469,154","1,317,568","1,317,568","1,317,568","1,056,063","631,925","631,925","714,385","814,322","1,054,484","851,346","839,632","418,527","417,712","417,712","417,712"
484,"411,316","2,054,413","2,054,413","2,054,413","1,913,449","644,194","644,194","725,927","829,254","2,001,180","824,982","784,522","397,794","394,648","400,292","400,292"
529,"183,843","267,232","267,232","267,232","387,211","269,562","269,562","305,048","348,877","348,877","384,719","330,760","219,843","219,843","207,840","207,840"
576,"308,520","842,644","842,644","842,644","835,197","374,368","374,368","421,101","484,899","484,899","486,951","486,951","336,809","336,809","338,885","338,885"
625,"996,396","182,828","182,828","182,828","154,200","1,115,956","1,115,956","1,240,184","1,371,144","1,371,144","1,236,663","1,353,039","915,698","915,698","847,754","847,754"
676,"102,096","32,580","32,580","32,580","79,230","92,862","92,862","103,356","119,460","119,460","149,850","144,654","151,113","151,113","133,252","133,252"
729,"277,600","129,802","129,802","129,802","132,388","234,496","234,496","234,496","257,339","257,339","288,144","289,046","266,751","259,404","257,590","257,590"
784,"201,815","4,458","4,458","4,458","5,352","180,932","180,932","180,932","180,932","180,932","166,468","189,296","192,183","192,183","206,672","206,672"
841,"502,427","33,891","33,891","33,891","38,777","562,687","562,687","562,687","562,687","562,687","539,769","558,853","534,472","534,472","559,947","559,947"
900,"106,441","10,580","10,580","10,580","7,036","98,558","98,558","98,558","98,558","98,557","122,770","119,367","161,527","156,416","140,770","140,770"

In [9]:
df[df['path'].isin(top_path)].pivot_table(values='Score', index=['S', 'input'], columns='path', aggfunc='sum')

path          log.txt  log_025.txt  log_026.txt  log_027.txt  log_032.txt  \
S   input
1   0010  141,721,750  154,918,668  154,918,668  154,918,668  154,918,668
    0013  102,933,608   85,145,804   85,145,804   85,145,804   85,145,804
    0034  142,726,650  144,757,604  144,757,604  144,757,604  144,757,604
    0088  130,946,957  146,948,181  146,948,181  146,948,181  146,948,181
4   0003   60,769,513   98,506,834   98,506,834   98,506,834   98,506,834
    0055   88,276,837   80,096,501   80,096,501   80,096,501   80,096,501
9   0030   31,237,076   29,325,325   29,325,325   26,692,021   29,325,325
    0041   34,400,104   35,713,087   35,713,087   55,049,710   35,713,087
    0079   40,664,689   33,752,518   33,752,518   42,266,606   33,752,518
    0082   40,084,691   35,140,467   35,140,467   35,612,054   35,140,467
16  0023   25,037,256   18,609,852   31,742,384   39,836,734   18,609,852
    0036   15,578,334   20,910,118   22,456,469   18,924,448   20,910,118
    0076   22,974,563   19,195,597   22,241,380   29,781,689   19,195,597
25  0012   23,484,179   19,746,659   28,558,358   28,481,233   19,746,659
    0018   16,325,257   22,120,674   21,872,936   19,445,228   22,120,674
    0029   11,981,518   19,293,563   15,934,056   15,033,909   19,293,563
36  0000    5,798,440    9,176,739    9,232,245    7,700,381    9,176,739
    0007    8,210,747   12,836,569   10,927,477    8,275,539   12,836,569
    0042   12,570,034   15,641,683   20,475,910   17,319,587   15,641,683
    0043    9,933,583   13,410,586   15,243,169   13,818,118   13,410,586
    0049   13,057,558   28,935,604   26,608,951   27,664,492   28,935,604
    0061   22,359,270   18,196,687   20,833,256   23,782,718   18,196,687
    0089    7,899,480   12,189,114   10,821,073   11,003,933   12,189,114
    0099   21,559,029   25,646,511   25,692,886   19,801,643   25,646,511
49  0074    5,674,142   11,309,193    8,171,784    6,022,606   11,309,193
81  0011    2,120,184    4,200,893    3,184,383    2,366,887    4,200,893
    0016    5,577,797    9,966,841    8,369,350    6,706,869    9,966,841
    0017    7,391,802   10,372,336    9,496,509    9,106,998   10,372,336
    0020    4,423,675    8,420,219    7,132,205    5,812,595    8,420,219
    0056    3,791,836    8,042,582    5,925,324    3,948,612    8,042,582
    0072    5,285,176    8,961,562    8,913,629    6,838,020    8,961,562
    0077    2,310,958    4,665,664    3,481,877    2,805,636    4,665,664
100 0048    7,061,138    9,559,073    8,187,011    9,147,503    9,559,073
    0081    6,505,704   10,781,581    8,502,923    6,681,686   10,781,581
121 0063    1,637,519    3,484,840    2,687,667    2,012,891    3,484,840
    0071      798,529    1,896,837    1,225,299      969,724    1,896,837
144 0014    1,823,815    4,186,306    3,020,304    2,039,877    4,186,306
    0085    6,730,707    9,004,791    9,725,903    6,769,363    9,004,791
169 0051    1,570,197    3,951,938    2,160,685    1,809,321    3,951,938
    0083      442,945      946,473      639,108      472,832      946,473
196 0009    6,287,470    9,433,922    8,176,257    8,163,388    9,433,922
    0047    1,255,745    2,682,289    2,055,521    1,846,768    2,682,289
225 0027    2,996,152    5,932,000    5,418,132    5,418,132    5,932,000
    0031    1,284,079    2,925,988    2,235,080    2,235,080    2,925,988
    0080      286,177      733,357      605,321      605,321      733,357
    0095      971,444    2,254,118    1,834,989    1,834,989    2,254,118
256 0032      205,833      496,181      496,181      496,181      496,181
    0050      418,093    1,138,723    1,138,723    1,138,723    1,138,723
    0054      230,636      620,127      620,127      620,127      620,127
289 0001      261,610      876,105      876,105      876,105      876,105
    0022      412,273    1,362,579    1,362,579    1,362,579    1,362,579
    0039      593,342    1,709,284    1,709,284    1,709,284    1,709,284
    0053      177,902      589,668      589,668      589,668      589,668
324 0002      472,854    1,729,110    1,729,110    1,729,110    1,729,110
    0057      700,924    2,713,804    2,713,804    2,713,804    2,713,804
    0065      150,192      614,677      614,677      614,677      614,677
    0084      264,085    1,121,646    1,121,646    1,121,646    1,121,646
361 0015      109,818      462,805      462,805      462,805      462,805
    0091      632,418    2,597,254    2,597,254    2,597,254    2,597,254
    0093      571,050    2,410,681    2,410,681    2,410,681    2,410,681
400 0078      161,910      956,094      956,094      956,094      956,094
441 0028      221,136    1,172,738    1,172,738    1,172,738    1,158,668
    0060       93,235      554,592      554,592      554,592      554,592
    0068    1,304,410    2,557,054    2,557,054    2,557,054    1,288,699
    0075      257,834      985,886      985,886      985,886    1,222,292
484 0021      404,380    2,860,221    2,860,221    2,860,221    2,881,684
    0038      722,251    2,326,685    2,326,685    2,326,685    1,432,862
    0066      111,662      920,948      920,948      920,948      729,750
    0090      406,969    2,109,797    2,109,797    2,109,797    2,609,499
529 0004       95,731      235,723      235,723      235,723      715,928
    0005       83,826      134,201      134,201      134,201      134,201
    0092      461,675      239,340      239,340      239,340      239,340
    0097       94,141      459,662      459,662      459,662      459,375
576 0019       58,745      321,704      321,704      321,704      204,887
    0035      218,252    1,257,086    1,257,086    1,257,086    1,565,159
    0064      648,562      949,143      949,143      949,143      735,545
625 0037      993,592      275,507      275,507      275,507      218,249
    0046      999,201       90,150       90,150       90,150       90,150
676 0052       52,574       22,076       22,076       22,076       53,728
    0098      151,617       43,084       43,084       43,084      104,733
729 0045      944,330        4,924        4,924        4,924        2,012
    0059      408,694      702,293      702,293      702,293      681,799
    0062       57,354       22,104       22,104       22,104       53,674
    0067       91,982       44,974       44,974       44,974       28,555
    0073      106,122          811          811          811          811
    0094       57,120        3,709        3,709        3,709       27,477
784 0006       90,480        2,515        2,515        2,515        2,515
    0008      113,404        3,147        3,147        3,147        3,931
    0026      578,343        2,832        2,832        2,832        6,685
    0040       46,521           21           21           21           21
    0070      180,327       13,774       13,774       13,774       13,606
841 0025      758,280       73,375       73,375       73,375       45,166
    0044      120,908        6,864        6,864        6,864       20,787
    0087      628,094       21,433       21,433       21,433       50,378
900 0024      245,515       49,905       49,905       49,905       31,490
    0033       86,400       11,562       11,562       11,562        5,886
    0058       54,571          442          442          442        1,074
    0069       43,664          116          116          116          115
    0086       57,968          236          236          236          714
    0096      150,529        1,219        1,219        1,219        2,938

path       log_037.txt  log_038.txt  log_039.txt  log_040.txt  log_042.txt  \
S   input
1   0010   154,918,668  154,918,668  154,918,668  154,918,668  154,918,668
    0013    85,145,804   85,145,804   85,145,804   85,145,804   85,145,804
    0034   144,757,604  144,757,604  144,757,604  144,757,604  144,757,604
    0088   146,948,181  146,948,181  146,948,181  146,948,181  146,948,181
4   0003    98,506,834   98,506,834   98,506,834   98,506,834   98,506,834
    0055    80,096,501   80,096,501   80,096,501   80,096,501   80,096,501
9   0030    26,692,021   26,692,021   26,692,021   26,692,021   26,692,021
    0041    55,049,710   55,049,710   55,049,710   55,049,710   55,049,710
    0079    42,266,606   42,266,606   42,266,606   42,266,606   42,266,606
    0082    35,612,054   35,612,054   35,612,054   35,612,054   35,612,054
16  0023    39,836,734   39,836,734   39,836,734   39,836,734   39,836,734
    0036    18,924,448   18,924,448   18,924,448   18,924,448   18,924,448
    0076    29,781,689   29,781,689   29,781,689   29,781,689   29,781,689
25  0012    28,481,233   28,481,233   28,481,233   28,481,233   28,481,233
    0018    19,445,228   19,445,228   19,445,228   19,445,228   19,445,228
    0029    15,033,909   15,033,909   15,033,909   15,033,909   15,033,909
36  0000     7,700,381    7,700,381    7,700,381    7,700,381    7,700,381
    0007     8,275,539    8,275,539    8,275,539    8,275,539    8,275,539
    0042    17,319,587   17,319,587   17,319,587   17,319,587   17,319,587
    0043    13,818,118   13,818,118   13,818,118   13,818,118   13,818,118
    0049    27,664,492   27,664,492   27,664,492   27,664,492   27,664,492
    0061    23,782,718   23,782,718   23,782,718   23,782,718   23,782,718
    0089    11,003,933   11,003,933   11,003,933   11,003,933   11,003,933
    0099    19,801,643   19,801,643   19,801,643   19,801,643   19,801,643
49  0074     6,022,606    6,022,606    6,022,606    6,022,606    6,022,606
81  0011     2,366,887    2,768,416    3,052,472    3,385,954    2,366,887
    0016     6,706,869    6,335,623    6,827,248    6,628,983    6,706,869
    0017     7,324,068    7,324,068    7,458,177    7,747,936    9,106,998
    0020     5,812,595    6,176,000    6,740,304    6,432,338    5,812,595
    0056     3,948,612    5,208,334    4,908,699    5,104,333    3,948,612
    0072     6,838,020    5,743,881    5,791,593    5,973,385    6,838,020
    0077     2,805,636    3,342,000    3,593,946    3,894,928    2,805,636
100 0048     8,615,862    8,615,862    8,787,965    7,769,163    9,147,503
    0081     6,400,410    6,400,410    6,477,272    5,424,641    6,681,686
121 0063     2,533,249    2,533,249    2,727,695    3,028,798    2,012,891
    0071     1,217,583    1,217,583    1,307,012    1,400,578      969,724
144 0014     2,039,877    2,510,923    2,704,438    2,910,150    2,039,877
    0085     7,172,688    7,172,688    5,734,477    5,787,800    6,769,363
169 0051     2,172,599    2,172,599    2,424,846    2,674,398    1,809,321
    0083       606,441      606,441      690,669      787,979      472,832
196 0009     8,142,339    8,142,339    8,530,422    7,971,844    8,163,388
    0047     1,844,141    1,844,141    2,025,705    2,245,559    1,846,768
225 0027     4,053,588    4,053,588    4,237,046    3,492,909    5,418,132
    0031     1,988,416    1,988,416    2,245,980    2,439,000    2,235,080
    0080       447,086      447,086      510,450      586,393      605,321
    0095     1,413,704    1,413,704    1,552,050    1,693,534    1,834,989
256 0032       291,152      291,152      330,936      383,191      496,181
    0050       669,031      669,031      758,001      863,784    1,138,723
    0054       358,751      358,751      408,856      470,895      620,127
289 0001       426,979      426,979      488,362      562,513      876,105
    0022       669,547      669,547      764,233      875,640    1,362,579
    0039       879,591      879,591      990,308    1,122,852    1,709,284
    0053       267,436      267,436      305,010      350,220      589,668
324 0002       732,098      732,098      823,585      932,102    1,729,110
    0057       997,962      997,962    1,115,432    1,249,941    2,713,804
    0065       242,205      242,205      276,203      315,894      614,677
    0084       429,144      429,144      489,076      563,096    1,121,646
361 0015       180,379      180,379      206,434      238,667      462,582
    0091       985,455      985,455    1,119,881    1,271,127    2,597,254
    0093       859,087      859,087      960,851    1,099,704    2,410,681
400 0078       271,591      271,591      309,824      354,472      956,094
441 0028       346,953      346,953      395,819      452,235    1,157,340
    0060       149,520      149,520      170,559      196,838      554,488
    0068     1,630,491    1,630,491    1,835,524    2,084,340    1,285,060
    0075       400,735      400,735      455,637      523,873    1,221,049
484 0021       653,009      653,009      745,013      846,994    2,881,684
    0038     1,092,054    1,092,054    1,215,059    1,386,855    1,784,336
    0066       187,693      187,693      214,654      247,564      729,199
    0090       644,020      644,020      728,983      835,604    2,609,499
529 0004       147,136      147,136      168,583      195,045      195,045
    0005       128,745      128,745      147,280      170,177      170,177
    0092       654,971      654,971      735,404      834,887      834,887
    0097       147,395      147,395      168,923      195,399      195,399
576 0019        64,009       64,009       73,286       84,925       84,925
    0035       279,175      279,175      317,054      366,674      366,674
    0064       779,920      779,920      872,964    1,003,098    1,003,098
625 0037     1,116,005    1,116,005    1,257,360    1,391,400    1,391,400
    0046     1,115,906    1,115,906    1,223,009    1,350,887    1,350,887
676 0052        47,807       47,807       53,223       61,650       61,650
    0098       137,918      137,918      153,488      177,270      177,270
729 0045       732,148      732,148      732,148      795,858      795,858
    0059       389,195      389,195      389,195      430,938      430,938
    0062        47,786       47,786       47,786       53,115       53,115
    0067        87,554       87,554       87,554       97,308       97,308
    0073       102,513      102,513      102,513      113,699      113,699
    0094        47,778       47,778       47,778       53,118       53,118
784 0006       111,017      111,017      111,017      111,017      111,017
    0008       111,092      111,092      111,092      111,092      111,092
    0026       477,961      477,961      477,961      477,961      477,961
    0040        41,699       41,699       41,699       41,699       41,699
    0070       162,891      162,891      162,891      162,891      162,891
841 0025       990,580      990,580      990,580      990,580      990,580
    0044       120,701      120,701      120,701      120,701      120,701
    0087       576,781      576,781      576,781      576,781      576,781
900 0024       227,303      227,303      227,303      227,303      227,303
    0033        81,438       81,438       81,438       81,438       81,438
    0058        50,546       50,546       50,546       50,546       50,546
    0069        41,964       41,964       41,964       41,964       41,960
    0086        53,352       53,352       53,352       53,352       53,352
    0096       136,742      136,742      136,742      136,742      136,742

path       log_045.txt  log_046.txt  log_047.txt  log_048.txt  log_049.txt  \
S   input
1   0010   143,264,834  131,702,332  136,640,769  136,640,769   94,928,899
    0013   107,683,428  134,692,833  146,909,754  146,909,754  146,909,754
    0034   154,581,964  220,618,084  233,618,660  233,618,660  237,332,385
    0088   120,838,621  122,154,413  155,127,748  155,127,748  155,127,748
4   0003    92,043,570  100,611,112  102,181,577  102,181,577   85,393,451
    0055    92,536,043   88,087,256   54,820,775   80,683,291   80,683,291
9   0030    39,098,086   38,078,412   41,544,906   41,544,906   28,978,183
    0041    58,363,556   58,363,556   51,391,899   51,391,899   51,391,899
    0079    54,186,798   46,206,664   29,928,149   29,928,149   49,202,526
    0082    50,899,289   37,151,547   27,822,201   27,822,201   46,263,356
16  0023    25,351,268   26,106,716   28,167,491   28,167,491   28,167,491
    0036    18,196,025   18,260,498   16,747,894   16,747,894    9,730,734
    0076    20,882,137   29,614,345   16,280,208   16,280,208   16,280,208
25  0012    20,956,954   19,950,261   24,905,583   24,905,583   15,487,285
    0018    17,159,570   12,013,000   18,804,911   18,804,911   18,804,911
    0029    18,839,786   18,839,786   15,887,673   15,887,673   18,403,416
36  0000     9,038,344    8,209,880   10,583,953   10,583,953   10,583,953
    0007    11,355,275   11,776,108   15,015,926   15,015,926   15,015,926
    0042    15,695,133   16,317,298   16,008,412   16,008,412   16,008,412
    0043    10,826,317   10,787,913   10,573,516   10,573,516   12,101,671
    0049    23,095,126   20,151,873   17,915,054   17,915,054   17,915,054
    0061    26,118,281   21,523,049   13,932,059   16,671,291   16,671,291
    0089    10,898,280   10,904,748   14,285,747   14,285,747   14,285,747
    0099    23,140,885   12,277,453   15,137,177   15,137,177   15,137,177
49  0074     7,873,248    9,659,048    9,648,465   11,134,353   11,134,353
81  0011     4,287,401    5,159,141    4,535,042    4,535,042    4,535,042
    0016     7,288,198    5,667,438    6,428,044    6,428,044    6,428,044
    0017     6,888,841    6,888,841    5,442,588    5,442,588    5,442,588
    0020     5,559,821    3,281,677    5,119,732    5,119,732    4,714,540
    0056     4,737,302    6,382,016    5,594,906    5,594,906    5,594,906
    0072     7,494,839    7,494,839    6,356,555    6,356,555    6,356,555
    0077     4,403,605    3,091,029    3,857,225    3,857,225    3,857,225
100 0048     3,957,727    3,957,727    5,505,398    5,505,398    7,821,363
    0081     6,078,695    3,627,049    6,016,360    6,016,360    6,016,360
121 0063     2,916,976    2,916,976    1,967,647    1,967,647    1,967,647
    0071     1,738,420    2,275,692    1,893,629    1,893,629    1,893,629
144 0014     3,126,595    3,423,617    2,588,785    2,588,785    2,501,178
    0085     8,038,601    5,988,954    5,998,635    5,998,635    5,998,635
169 0051     2,875,495    2,894,739    1,837,254    1,837,254    1,837,254
    0083     1,519,294    1,451,903    1,248,275    1,248,275    1,227,976
196 0009     9,213,236    7,302,149    5,494,325    5,494,325    5,799,069
    0047     2,402,103    2,237,638    1,371,351    1,371,351    1,309,802
225 0027     3,981,774    3,076,114    2,642,339    2,642,339    2,642,339
    0031     2,340,229    2,591,882    1,239,875    1,239,875    1,239,875
    0080       665,016      665,016      623,507      623,507      623,507
    0095     1,110,889    1,110,889    1,066,622    1,066,622    1,066,622
256 0032       711,682      694,225      548,512      548,512      548,512
    0050       943,382      943,382      573,786      573,786      573,786
    0054       723,325      740,246      564,462      564,462      564,462
289 0001       733,526      733,526      502,098      502,098      502,098
    0022       932,665      960,690      603,857      603,857      603,857
    0039     1,230,519    1,230,519      661,750      661,750      462,215
    0053       588,221      584,907      459,399      459,399      457,703
324 0002       947,203      978,647      497,432      497,432      536,399
    0057     1,338,200    1,326,504      751,611      744,537      744,537
    0065       285,969      437,004      308,353      293,953      293,953
    0084       727,402      656,594      431,759      431,759      431,759
361 0015       308,820      308,820      222,252      222,252      222,252
    0091     1,263,951      963,803      608,011      608,011      609,637
    0093       579,794      888,154      551,660      551,660      551,660
400 0078       384,925      370,007      245,321      245,321      238,329
441 0028       487,727      487,727      258,495      258,495      258,495
    0060       240,764      193,910      159,680      159,680      159,680
    0068     2,134,005    2,134,005      968,541      968,541      968,541

## 幾何平均順

In [10]:
df.groupby('path').agg(geo_mean=('Score', lambda x: gmean(x))).sort_values('geo_mean', ascending=False)[:10]

             geo_mean
path
log_042.txt 1,835,705
log_045.txt 1,778,564
log_046.txt 1,727,189
log_044.txt 1,711,663
log_040.txt 1,618,016
log_041.txt 1,611,322
log_039.txt 1,527,734
log_047.txt 1,488,324
log_048.txt 1,481,702
log_050.txt 1,476,867

In [129]:
df[df['path'].isin(top_path)].pivot_table(values='Score', index=['S'], columns='path', aggfunc=gmean)

path,log.txt,log_025.txt,log_026.txt,log_027.txt,log_028.txt,log_032.txt,log_037.txt,log_038.txt,log_039.txt,log_040.txt,log_042.txt,log_044.txt,log_045.txt,log_046.txt,log_047.txt
S,,,,,,,,,,,,,,,
1,"164,231,699","129,424,993","129,424,993","129,424,993","119,599,205","129,424,993","129,424,993","129,424,993","129,424,993","129,424,993","129,424,993","147,597,970","130,290,654","147,867,270","164,231,699"
4,"74,844,327","88,825,969","88,825,969","88,825,969","96,680,496","88,825,969","88,825,969","88,825,969","88,825,969","88,825,969","88,825,969","94,528,091","92,289,478","94,141,153","74,844,327"
9,"36,514,970","33,384,585","33,384,585","38,564,058","42,067,735","33,384,585","38,564,058","38,564,058","38,564,058","38,564,058","38,564,058","24,802,492","50,087,068","44,195,243","36,514,970"
16,"19,729,804","19,547,911","25,121,616","28,211,018","31,866,745","19,547,911","28,211,018","28,211,018","28,211,018","28,211,018","28,211,018","21,277,326","21,277,326","24,168,832","19,729,804"
25,"19,522,830","20,350,175","21,510,750","20,268,172","19,602,945","20,350,175","20,268,172","20,268,172","20,268,172","20,268,172","20,268,172","18,922,137","18,922,137","16,528,192","19,522,830"
36,"13,971,519","15,891,384","16,246,197","14,705,034","12,993,872","15,891,384","14,705,034","14,705,034","14,705,034","14,705,034","14,705,034","15,064,922","15,064,922","13,315,529","13,971,519"
49,"9,648,465","11,309,193","8,171,784","6,022,606","4,978,829","11,309,193","6,022,606","6,022,606","6,022,606","6,022,606","6,022,606","7,873,248","7,873,248","9,659,048","9,648,465"
81,"5,260,177","7,412,595","6,147,895","4,855,837","3,794,762","7,412,595","4,707,026","5,010,868","5,230,058","5,393,938","4,855,837","4,526,667","5,664,485","5,162,515","5,260,177"
100,"5,755,211","10,151,942","8,343,472","7,817,976","6,575,736","10,151,942","7,425,971","7,425,971","7,544,670","6,491,912","7,817,976","4,904,877","4,904,877","3,788,782","5,755,211"
121,"1,930,283","2,571,026","1,814,716","1,397,122","1,048,301","2,571,026","1,756,258","1,756,258","1,888,155","2,059,628","1,397,122","2,251,872","2,251,872","2,576,459","1,930,283"
144,"3,940,708","6,139,773","5,419,888","3,716,002","3,318,077","6,139,773","3,825,101","4,243,827","3,938,088","4,104,067","3,716,002","5,013,327","5,013,327","4,528,122","3,940,708"
169,"1,514,397","1,934,012","1,175,122","924,935","700,879","1,934,012","1,147,847","1,147,847","1,294,127","1,451,678","924,935","2,090,149","2,090,149","2,050,093","1,514,397"
196,"2,744,931","5,030,358","4,099,569","3,882,768","3,248,253","5,030,358","3,875,000","3,875,000","4,156,936","4,230,986","3,882,768","4,704,375","4,704,375","4,042,223","2,744,931"
225,"1,214,939","2,314,416","1,915,096","1,915,096","1,594,095","2,314,416","1,502,360","1,502,360","1,657,036","1,705,475","1,915,096","1,619,793","1,619,793","1,557,866","1,214,939"
256,"562,156","704,985","704,985","704,985","551,399","704,985","411,895","411,895","468,089","538,164","704,985","786,024","786,024","785,576","562,156"
289,"551,000","1,047,333","1,047,333","1,047,333","807,423","1,047,333","509,239","509,239","579,446","663,408","1,047,333","838,866","838,866","843,905","551,000"
324,"472,339","1,341,146","1,341,146","1,341,146","1,029,592","1,341,146","524,949","524,949","593,525","674,713","1,341,146","716,580","716,580","781,231","472,339"
361,"420,865","1,425,665","1,425,665","1,425,665","1,159,672","1,425,665","534,507","534,507","605,624","693,563","1,425,436","609,401","609,401","641,792","420,865"
400,"245,321","956,094","956,094","956,094","770,929","956,094","271,591","271,591","309,824","354,472","956,094","384,925","384,925","370,007","245,321"
441,"327,396","1,131,580","1,131,580","1,131,580","1,160,366","1,003,032","429,078","429,078","487,458","558,363","1,001,734","607,321","607,321","575,334","327,396"
484,"359,790","1,896,283","1,896,283","1,896,283","1,832,272","1,674,540","541,848","541,848","613,486","702,101","1,768,608","712,653","712,653","624,822","359,790"
529,"188,636","242,886","242,886","242,886","432,479","320,591","206,794","206,794","235,664","271,267","271,267","307,513","307,513","276,418","188,636"
576,"285,544","726,749","726,749","726,749","784,555","617,866","240,652","240,652","272,720","314,934","314,934","382,155","382,155","382,155","285,544"
625,"915,565","157,597","157,597","157,597","352,341","140,268","1,115,955","1,115,955","1,240,066","1,370,994","1,370,994","1,223,476","1,223,476","1,349,607","915,565"
676,"148,251","30,840","30,840","30,840","31,838","75,014","81,200","81,200","90,383","104,540","104,540","141,206","141,206","136,435","148,251"
729,"212,374","14,760","14,760","14,760","12,678","18,987","134,191","134,191","134,191","148,458","148,458","196,263","196,263","198,108","212,374"
784,"141,016","1,453","1,453","1,453","6,708","1,800","131,977","131,977","131,977","131,977","131,977","143,233","143,233","145,721","141,016"
841,"347,599","22,101","22,101","22,101","29,413","36,164","410,082","410,082","410,082","410,082","410,082","399,809","399,809","413,645","347,599"
900,"151,131","1,429","1,429","1,429","2,041","1,907","81,191","81,191","81,191","81,191","81,190","112,130","112,130","107,410","151,131"

## Group集計

In [160]:
df.groupby('S')[['Score', 'Number of wrong answers', 'Placement cost', 'Measurement cost', 'Measurement count']].agg(['count', 'mean', 'std', 'min', 'max'])

    Score                                                \
    count        mean        std        min         max
S
1     164 129,170,451 41,184,426 49,178,716 246,935,531
4      82  72,216,709 25,203,419  5,981,184 112,639,505
9     164  27,133,250 12,071,271    932,359  60,191,361
16    123  15,919,545  9,734,451    207,111  42,423,430
25    123  13,794,248  6,853,884    146,540  28,558,358
36    328  10,534,699  7,063,857      1,238  29,986,051
49     41   6,724,631  2,276,391     61,641  11,959,703
81    287   3,362,948  3,266,298          1  11,533,736
100    82   4,362,982  4,032,057          1  10,852,902
121    82   1,154,179  1,256,356          1   4,678,292
144    82   2,821,376  3,043,775          1   9,725,903
169    82     959,872  1,231,736         85   5,039,141
196    82   3,049,484  3,496,187          3  10,728,940
225   164   1,345,307  1,625,701          1   5,932,000
256   123     363,725    389,255          8   1,853,828
289   164     513,607    550,161         23   2,503,099
324   164     631,720    725,607          2   2,713,804
361   123     753,184    871,763          1   2,597,254
400    41     371,794    368,729          8     956,094
441   164     635,966    776,101          1   3,658,297
484   164     912,714  1,031,341         28   4,268,072
529   164     223,705    272,216          1   1,164,782
576   123     433,145    505,341         68   1,725,459
625    82     484,594    586,451          2   2,001,210
676    82      52,305     66,059         12     312,708
729   246     103,633    205,675          1     795,858
784   205      54,912    117,923          1     499,190
841   123     176,871    299,156         23     990,580
900   246      28,843     53,873         15     227,303

    Number of wrong answers                  Placement cost              \
                      count mean std min max          count        mean
S
1                       164    0   1   0   2            164     368,952
4                        82    0   0   0   2             82     957,977
9                       164    0   0   0   2            164   4,063,774
16                      123    0   1   0   6            123   9,473,736
25                      123    0   1   0   8            123  16,254,059
36                      328    1   4   0  40            328  15,720,741
49                       41    1   4   0  24             41  30,146,216
81                      287   13  23   0  97            287  21,928,476
100                      82   33  46   0  98             82  16,732,305
121                      82   31  44   0  93             82  98,596,504
144                      82   24  35   0  93             82  19,135,874
169                      82   24  33   0  73             82 128,402,784
196                      82   25  36   0  88             82  31,295,898
225                     164   29  41   0  94            164  82,366,546
256                     123   25  35   0  84            123 203,325,321
289                     164   23  33   0  79            164 146,339,669
324                     164   28  39   0  91            164 125,523,964
361                     123   31  43   0  99            123 125,178,086
400                      41   29  40   0  84             41 162,128,689
441                     164   29  39   0  96            164 120,896,682
484                     164   23  32   0  78            164  81,695,840
529                     164   32  41   0  95            164 196,881,885
576                     123   23  31   0  74            123 217,503,887
625                      82   36  39   0  92             82  24,847,998
676                      82   32  36   0  82             82 396,770,095
729                     246   33  34   0  97            246 330,758,864
784                     205   39  35   0  96            205 306,378,985
841                     123   32  29   0  79            123 111,796,117
900                     246   34  28   0  81            246 395,767,356

                                        Measurement cost                      \
            std       min           max            count      mean       std
S
1       217,005   108,814     1,520,600              164   355,307   136,962
4     1,911,386    87,568    16,356,800               82   732,770   279,457
9    12,626,943    80,104   106,636,500              164 1,736,110   918,730
16   45,857,517    74,574   482,342,400              123 3,629,112 2,053,990
25   85,230,619   311,352   681,968,750              123 4,057,003 2,114,031
36   83,989,623   136,264   925,538,400              328 5,549,917 3,183,149
49  137,435,542 3,461,356   888,370,000               41 5,694,005 3,494,794
81   74,853,451         0   848,665,350              287 6,488,428 3,595,238
100  38,502,614         0   217,000,000               82 3,843,232 4,004,472
121 195,958,657         0   842,589,550               82 3,365,151 3,606,111
144  42,769,789         0   372,211,200               82 5,327,537 4,146,102
169 261,163,033         0 1,765,069,800               82 2,578,187 2,695,647
196  68,210,644         0   528,220,000               82 2,772,887 2,924,395
225 190,505,931         0 1,906,000,000              164 3,485,596 3,424,482
256 318,653,121         0 2,302,000,000              123 2,921,202 2,722,631
289 231,790,396         0 1,966,000,000              164 3,288,112 3,173,698
324 199,721,391         0 1,722,000,000              164 4,495,023 3,860,146
361 228,384,717         0 1,862,000,000              123 5,727,578 4,822,613
400 191,711,231         0 1,000,000,000               41 5,857,649 4,558,798
441 195,114,300         0 1,510,000,000              164 7,117,933 5,901,033
484 134,148,045         0 1,000,000,000              164 6,255,753 5,460,736
529 252,629,247         0 1,218,000,000              164 7,724,757 6,159,074
576 392,328,412         0 2,086,000,000              123 6,810,061 5,877,908
625  29,064,845         0    94,000,000               82 8,106,144 6,348,625
676 576,104,613         0 2,086,000,000               82 8,057,156 6,413,121
729 551,475,851         0 2,086,000,000              246 8,169,518 6,444,528
784 531,012,428         0 2,384,000,000              205 8,640,438 6,501,378
841 213,071,485         0   818,000,000              123 8,091,323 6,394,735
900 568,920,045         0 1,966,000,000              246 8,871,293 6,604,629

                       Measurement count
        min        max             count  mean   std min    max
S
1   130,000    640,200               164   337   121 130    582
4   262,300  1,478,400                82   676   240 244  1,260
9   322,500  4,953,600               164 1,504   694 300  3,840
16  391,300 12,130,300               123 3,113 1,546 364  8,372
25  339,700  9,322,000               123 3,626 2,078 316  9,322
36  351,000 13,843,200               328 5,087 3,283 325 10,000
49  448,800 10,000,000                41 5,319 3,667 408 10,000
81        0 14,729,400               287 5,812 3,630   0 10,000
100       0 13,939,200                82 2,848 2,844   0  9,504
121       0 13,832,000                82 2,515 2,556   0  9,373
144       0 13,822,500                82 4,518 3,719   0 10,000
169       0  9,480,600                82 1,931 1,927   0  6,486
196       0 13,439,000                82 2,083 2,098   0  9,078
225       0 14,278,500               164 2,600 2,430   0  9,690
256       0 13,931,500               123 2,200 1,966   0  9,350
289       0 12,393,800               164 2,426 2,248   0  8,866
324       0 13,661,700               164 3,278 2,728   0  9,300
361       0 14,851,700               123 4,131 3,374   0 10,000
400       0 11,610,000                41 4,220 3,248   0  7,998
441       0 15,385,600               164 5,011 4,056   0 10,000
484       0 15,557,600               164 4,404 3,754   0 10,000
529       0 15,147,000               164 5,457 4,290   0  9,975
576       0 15,375,000               123 4,783 4,060   0  9,975
625       0 14,977,000                82 5,695 4,408   0  9,945
676       0 15,248,000                82 5,638 4,428   0 10,000
729       0 15,551,600               246 5,695 4,439   0  9,996
784       0 15,436,400               205 6,008 4,488   0  9,996
841       0 15,470,300               123 5,633 4,410   0  9,983
900       0 15,436,400               246 6,099 4,525   0 10,000

In [161]:
df[df['path']=='log.txt'].groupby('S')[['Score', 'Number of wrong answers', 'Placement cost', 'Measurement cost', 'Measurement count']].agg(['count', 'mean', 'std', 'min', 'max'])

    Score                                                \
    count        mean        std        min         max
S
1       4 132,942,564 32,162,255 85,145,804 154,918,668
4       2  89,301,668 13,018,071 80,096,501  98,506,834
9       4  39,905,098 11,943,640 26,692,021  55,049,710
16      3  29,514,290 10,458,707 18,924,448  39,836,734
25      3  20,986,790  6,854,921 15,033,909  28,481,233
36      8  16,170,801  7,278,773  7,700,381  27,664,492
49      1   6,022,606        NaN  6,022,606   6,022,606
81      7   5,369,374  2,439,889  2,366,887   9,106,998
100     2   7,914,594  1,743,596  6,681,686   9,147,503
121     2   1,491,308    737,630    969,724   2,012,891
144     2   4,404,620  3,344,252  2,039,877   6,769,363
169     2   1,141,076    945,040    472,832   1,809,321
196     2   5,005,078  4,466,525  1,846,768   8,163,388
225     4   2,523,380  2,050,653    605,321   5,418,132
256     3     751,677    340,873    496,181   1,138,723
289     4   1,134,409    498,667    589,668   1,709,284
324     4   1,544,809    902,723    614,677   2,713,804
361     3   1,823,506  1,182,281    462,582   2,597,254
400     1     956,094        NaN    956,094     956,094
441     4   1,054,484    337,384    554,488   1,285,060
484     4   2,001,180    967,866    729,199   2,881,684
529     4     348,877    324,222    170,177     834,887
576     3     484,899    470,365     84,925   1,003,098
625     2   1,371,144     28,647  1,350,887   1,391,400
676     2     119,460     81,756     61,650     177,270
729     6     257,339    299,932     53,115     795,858
784     5     180,932    171,540     41,699     477,961
841     3     562,687    435,111    120,701     990,580
900     6      98,557     71,942     41,960     227,303

    Number of wrong answers                  Placement cost                \
                      count mean std min max          count          mean
S
1                         4    0   0   0   0              4       263,144
4                         2    0   0   0   0              2       191,526
9                         4    0   0   0   0              4       310,862
16                        3    0   0   0   0              3       919,128
25                        3    0   0   0   0              3     2,410,255
36                        8    0   0   0   0              8     5,031,236
49                        1    0 NaN   0   0              1    14,776,910
81                        7    0   0   0   0              7    20,359,427
100                       2    0   0   0   0              2     9,210,315
121                       2    0   0   0   0              2    73,404,701
144                       2    0   0   0   0              2    29,804,502
169                       2    0   0   0   0              2   130,923,333
196                       2    0   0   0   0              2    30,158,135
225                       4    0   0   0   0              4    66,345,353
256                       3    0   0   0   0              3   146,356,736
289                       4    0   0   0   0              4    98,747,466
324                       4    0   0   0   0              4    79,532,142
361                       3    0   1   0   1              3    72,116,155
400                       1    0 NaN   0   0              1    94,327,052
441                       4    2   2   1   5              4    60,872,934
484                       4    1   1   0   3              4    38,568,071
529                       4    0   0   0   0              4   423,879,552
576                       3    0   0   0   0              3   509,762,909
625                       2    0   0   0   0              2    62,131,086
676                       2    0   0   0   0              2 1,083,242,682
729                       6    0   0   0   0              6   995,764,032
784                       5    0   0   0   0              5   993,600,000
841                       3    0   0   0   0              3   359,333,333
900                       6    0   1   0   2              6 1,284,333,333

                                          Measurement cost             \
            std         min           max            count       mean
S
1       141,139     137,000       440,856                4    434,675
4       143,447      90,094       292,958                2    840,300
9       162,073     104,040       440,038                4  2,273,375
16      862,521     241,246     1,889,970                3  2,698,267
25      990,004   1,283,084     3,138,830                3  2,591,533
36    3,758,781     629,534    10,473,372                8  2,373,525
49          NaN  14,776,910    14,776,910                1  1,727,200
81   12,333,962   6,509,768    40,010,690                7  2,531,471
100   2,382,906   7,525,346    10,895,284                2  3,638,800
121  37,947,438  46,571,810   100,237,592                2  2,896,300
144  24,463,154  12,506,440    47,102,564                2  1,993,000
169 111,067,201  52,386,962   209,459,704                2  2,357,200
196  28,348,928  10,112,416    50,203,854                2  2,941,100
225  65,188,921  13,036,548   161,215,070                4  4,278,600
256  58,456,791  82,957,704   198,121,606                3  3,748,200
289  50,567,722  50,203,854   164,727,092                4  5,058,300
324  55,063,159  29,680,258   155,286,754                4  6,998,825
361  74,371,400  28,677,308   157,990,898                3 12,092,800
400         NaN  94,327,052    94,327,052                1 10,165,200
441  49,744,950  10,254,404   129,395,030                4 15,131,600
484  37,495,654  13,036,548    94,327,052                4 14,188,700
529 212,105,124 109,815,808   576,532,992                4  8,990,775
576 578,484,617  93,126,166 1,170,248,086                3  6,778,667
625           0  62,131,086    62,131,086                2 10,716,700
676 747,392,697 554,756,238 1,611,729,126                2  9,756,400
729 766,625,171 111,439,296 1,874,696,544                6  9,177,367
784 827,675,540 198,000,000 2,384,000,000                5 10,744,080
841 398,844,999  94,000,000   818,000,000                3  8,174,533
900 616,587,274 432,000,000 1,966,000,000                6 11,773,767

                                    Measurement count                      \
          std        min        max             count   mean   std    min
S
1     146,793    279,500    633,600                 4    401   131    260
4     308,440    622,200  1,058,400                 2    736   265    549
9     677,862  1,612,500  3,206,400                 4  1,866   528  1,350
16    565,555  2,169,000  3,294,200                 3  2,196   421  1,800
25    713,202  2,128,000  3,412,800                 3  2,086   521  1,748
36    649,483  1,625,600  3,475,200                 8  1,933   505  1,344
49        NaN  1,727,200  1,727,200                 1  1,428   NaN  1,428
81    862,877  1,904,000  4,370,800                 7  2,057   651  1,564
100   469,802  3,306,600  3,971,000                 2  2,904   327  2,673
121   157,968  2,784,600  3,008,000                 2  2,360   120  2,275
144   244,659  1,820,000  2,166,000                 2  1,650   219  1,495
169   601,324  1,932,000  2,782,400                 2  1,904   448  1,587
196 1,278,025  2,037,400  3,844,800                 2  2,336   975  1,647
225   721,774  3,715,200  5,320,000                 4  3,322   536  2,880
256   879,508  3,166,600  4,760,000                 3  2,910   647  2,485
289 2,170,727  3,379,000  8,200,200                 4  3,748 1,455  2,604
324   629,986  6,097,000  7,529,400                 4  5,125   491  4,422
361 2,585,668  9,724,900 14,851,700                 3  8,337 1,606  6,794
400       NaN 10,165,200 10,165,200                 1  7,138   NaN  7,138
441   253,873 14,782,400 15,385,600                 4 10,000     0 10,000
484 2,053,697 11,147,600 15,557,600                 4  9,238 1,256  7,378
529 1,762,573  7,090,500 10,992,600                 4  6,430 1,147  5,220
576   354,325  6,465,000  7,163,000                 3  4,845   195  4,725
625 1,524,098  9,639,000 11,794,400                 2  7,494   981  6,800
676   706,541  9,256,800 10,256,000                 2  6,836   402  6,552
729 2,902,576  6,643,000 14,111,400                 6  6,424 1,858  4,818
784 2,440,674  8,056,200 14,063,000                 5  7,438 1,504  5,829
841 1,935,902  6,851,000 10,396,400                 3  5,741 1,262  4,875
900 2,584,405  7,843,000 15,179,200                 6  7,878 1,611  5,456


       max
S
1      576
4      924
9    2,592
16   2,639
25   2,686
36   2,784
49   1,428
81   3,430
100  3,135
121  2,444
144  1,805
169  2,220
196  3,026
225  4,085
256  3,655
289  5,846
324  5,518
361 10,000
400  7,138
441 10,000
484 10,000
529  7,719
576  5,070
625  8,188
676  7,120
729  9,483
784  9,604
841  7,189
900 10,000

In [162]:
df.groupby(['S', 'input'])[['Score', 'Number of wrong answers', 'Placement cost', 'Measurement cost', 'Measurement count']].agg(['count', 'mean', 'std', 'min', 'max'])

          Score                                                \
          count        mean        std        min         max
S   input
1   0010     41 122,048,800 31,239,192 65,661,499 154,918,668
    0013     41  97,098,560 25,299,111 49,178,716 144,780,658
    0034     41 165,480,704 47,137,005 70,400,226 246,935,531
    0088     41 132,053,740 24,653,327 82,689,048 159,782,696
4   0003     41  84,252,317 19,261,345  5,981,184 104,744,508
    0055     41  60,181,100 24,866,665 17,421,603 112,639,505
9   0030     41  19,887,977  8,452,993    932,359  37,675,086
    0041     41  32,943,797 14,679,592  3,821,411  60,191,361
    0079     41  29,144,016 10,679,749  1,634,587  44,950,609
    0082     41  26,557,210  9,994,658    933,840  42,530,135
16  0023     41  18,179,001 12,746,755  1,707,732  42,423,430
    0036     41  12,778,497  5,787,594    207,111  22,456,469
    0076     41  16,801,136  8,769,171    590,020  34,704,340
25  0012     41  15,598,699  9,143,376    423,038  28,558,358
    0018     41  14,276,941  5,334,594    158,850  22,120,674
    0029     41  11,507,104  4,720,031    146,540  19,293,563
36  0000     41   5,862,824  2,873,610      9,392   9,872,035
    0007     41   7,977,791  3,258,659     89,121  14,959,821
    0042     41  12,822,718  4,472,289    272,873  20,475,910
    0043     41   8,023,476  4,793,157      6,341  15,243,169
    0049     41  15,155,364  9,828,455    659,924  28,935,604
    0061     41  12,343,269  9,124,205      1,238  29,986,051
    0089     41   7,029,203  4,193,555    158,998  12,940,133
    0099     41  15,062,943  6,991,106    270,055  26,282,743
49  0074     41   6,724,631  2,276,391     61,641  11,959,703
81  0011     41   1,945,121  1,505,309        703   5,584,259
    0016     41   4,053,670  3,912,501        561  11,533,736
    0017     41   4,519,380  4,249,895          1  11,415,348
    0020     41   3,353,511  3,402,787         79   8,931,374
    0056     41   3,919,107  2,031,659      4,379   8,840,622
    0072     41   3,862,032  3,776,850        115  10,931,837
    0077     41   1,887,817  1,987,875          7   6,046,432
100 0048     41   4,696,217  4,251,386          1  10,852,902
    0081     41   4,029,747  3,823,543          1  10,781,581
121 0063     41   1,526,943  1,496,692          1   4,678,292
    0071     41     781,416    819,379          2   2,921,108
144 0014     41   1,568,407  1,738,001        180   6,009,282
    0085     41   4,074,346  3,538,607          1   9,725,903
169 0051     41   1,503,878  1,504,894         85   5,039,141
    0083     41     415,866    448,203        402   1,731,797
196 0009     41   4,839,729  4,094,961      1,916  10,728,940
    0047     41   1,259,239  1,188,828          3   4,138,624
225 0027     41   2,672,427  2,312,854          1   5,932,000
    0031     41   1,346,727  1,215,828        106   4,031,940
    0080     41     340,486    334,611         18   1,193,345
    0095     41   1,021,587    939,541          1   3,158,062
256 0032     41     241,000    230,065        206     779,135
    0050     41     548,769    520,767          8   1,853,828
    0054     41     301,405    288,948        503     990,051
289 0001     41     392,484    365,588        503   1,098,071
    0022     41     602,444    557,377        981   1,793,317
    0039     41     807,382    740,682         23   2,503,099
    0053     41     252,121    242,490        206     741,860
324 0002     41     752,677    702,297          3   2,057,260
    0057     41   1,065,623  1,009,751         12   2,713,804
    0065     41     253,975    242,201          2     672,016
    0084     41     454,603    433,176        503   1,176,103
361 0015     41     212,335    202,690          2     630,118
    0091     41   1,075,004    992,733         35   2,597,254
    0093     41     972,214    914,411          1   2,581,264
400 0078     41     371,794    368,729          8     956,094
441 0028     41     505,084    495,036         68   1,472,021
    0060     41     216,209    219,540          1     649,508
    0068     41   1,278,317  1,126,584         12   3,658,297
    0075     41     544,255    512,197         18   1,589,162
484 0021     41   1,070,033  1,102,660        981   2,881,684
    0038     41   1,296,087  1,247,328        132   4,268,072
    0066     41     311,228    319,657         28     954,376
    0090     41     973,509    953,899      1,916   2,686,265
529 0004     41     166,584    167,904         18     715,928
    0005     41     109,372     97,494          1     345,990
    0092     41     436,555    415,092          1   1,164,782
    0097     41     182,307    164,402          4     506,133
576 0019     41     117,349    126,120        503     452,889
    0035     41     500,335    518,561      1,916   1,565,159
    0064     41     681,750    569,093         68   1,725,459
625 0037     41     533,679    620,983          8   2,001,210
    0046     41     435,508    553,073          2   1,535,368
676 0052     41      31,140     33,345         18     140,689
    0098     41      73,470     82,502         12     312,708
729 0045     41     189,850    312,674          5     795,858
    0059     41     313,385    283,593        322     741,439
    0062     41      26,712     29,309        165     136,263
    0067     41      41,997     44,085         85     167,079
    0073     41      24,543     44,653          1     113,699
    0094     41      25,308     27,210        165      74,582
784 0006     41      25,939     45,791          3     111,017
    0008     41      26,841     45,466          4     111,092
    0026     41     163,451    214,946         68     499,190
    0040     41       9,298     17,401          1      41,699
    0070     41      49,030     65,878         44     162,891
841 0025     41     307,954    404,598        503     990,580
    0044     41      28,805     49,544         23     120,701
    0087     41     193,853    257,728        503     775,591
900 0024     41      73,888     95,132      1,226     227,303
    0033     41      30,378     35,981      1,600     120,831
    0058     41      11,835     20,874         54      50,546
    0069     41       9,435     17,472         15      41,964
    0086     41      12,340     22,049         83      53,352
    0096     41      35,184     55,854        165     136,742

          Number of wrong answers                  Placement cost              \
                            count mean std min max          count        mean
S   input
1   0010                       41    1   1   0   2             41     318,277
    0013                       41    0   0   0   2             41     539,029
    0034                       41    0   0   0   0             41     305,711
    0088                       41    0   0   0   0             41     312,792
4   0003                       41    0   0   0   0             41     885,971
    0055                       41    0   0   0   2             41   1,029,983
9   0030                       41    0   0   0   2             41   5,749,161
    0041                       41    0   0   0   0             41   2,479,653
    0079                       41    0   0   0   2             41   3,397,238
    0082                       41    0   1   0   2             41   4,629,044
16  0023                       41    0   0   0   2             41   5,298,978
    0036                       41    0   1   0   6             41  15,622,406
    0076                       41    0   0   0   2             41   7,499,825
25  0012                       41    0   1   0   6             41   9,739,314
    0018                       41    0   1   0   6             41  18,843,471
    0029                       41    1   1   0   8             41  20,179,392
36  0000                       41    2   5   0  32             41  29,698,937
    0007                       41    1   3   0  22             41  28,197,886
    0042                       41    0   1   0   8             41  12,362,201
    0043                       41    2   5   0  34             41  14,444,093
    0049                       41    1   2   0  10             41   7,321,216
    0061                       41    1   6   0  40             41   5,545,166
    0089                       41    2   4   0  20             41  20,150,382
    0099                       41    0   2   0  16             41   8,046,046
49  0074                       41    1   4   0  24             41  30,146,216
81  0011                       41    5   8   0  44             41  38,327,802
    0016                       41    7   9   0  44             41  14,246,748
    0017                       41   33  47   0  97             41  18,433,478
    0020                       41   16  18   0  53             41  15,385,854
    0056                       41    3   6   0  36             41  21,630,842
    0072                       41    8  10   0  52             41  13,964,969
    0077                       41   15  17   0  65             41  31,509,640
100 0048                       41   33  47   0  98             41  13,717,068
    0081                       41   32  45   0  94             41  19,747,543
121 0063                       41   32  45   0  93             41  61,185,177
    0071                       41   31  43   0  90             41 136,007,831
144 0014                       41   16  17   0  49             41  28,727,895
    0085                       41   32  45   0  93             41   9,543,853
169 0051                       41   25  35   0  73             41  49,176,144
    0083                       41   23  32   0  66             41 207,629,424
196 0009                       41   20  28   0  59             41  10,069,617
    0047                       41   30  42   0  88             41  52,522,179
225 0027                       41   32  45   0  94             41  17,820,846
    0031                       41   25  35   0  72             41  43,991,657
    0080                       41   27  38   0  80             41 209,206,783
    0095                       41   32  45   0  94             41  58,446,898
256 0032                       41   24  33   0  69             41 275,011,542
    0050                       41   29  40   0  84             41 114,598,048
    0054                       41   22  31   0  65             41 220,366,374
289 0001                       41   22  31   0  65             41 157,823,357
    0022                       41   21  30   0  62             41 100,742,855
    0039                       41   27  38   0  79             41  69,934,611
    0053                       41   24  33   0  69             41 256,857,852
324 0002                       41   30  42   0  88             41  75,105,211
    0057                       41   28  39   0  82             41  51,592,344
    0065                       41   31  44   0  91             41 240,989,927
    0084                       41   22  31   0  65             41 134,408,375
361 0015                       41   32  44   0  92             41 273,090,750
    0091                       41   26  37   0  77             41  48,204,656
    0093                       41   34  48   0  99             41  54,238,852
400 0078                       41   29  40   0  84             41 162,128,689
441 0028                       41   25  35   0  74             41 109,841,040
    0060                       41   33  46   0  96             41 259,650,234
    0068                       41   29  39   0  82             41  20,697,573
    0075                       41   28  38   0  80             41  93,397,879
484 0021                       41   21  30   0  62             41  53,948,836
    0038                       41   25  34   0  71             41  30,455,988
    0066                       41   27  37   0  78             41 188,876,933
    0090                       41   20  28   0  59             41  53,501,605
529 0004                       41   29  38   0  80             41 235,313,780
    0005                       41   34  43   0  93             41 268,113,872
    0092                       41   35  44   0  95             41  49,552,064
    0097                       41   31  41   0  87             41 234,547,823
576 0019                       41   23  31   0  65             41 497,694,204
    0035                       41   20  28   0  59             41 115,395,010
    0064                       41   27  34   0  74             41  39,422,447
625 0037                       41   34  38   0  84             41  24,889,781
    0046                       41   38  41   0  92             41  24,806,215
676 0052                       41   32  36   0  80             41 592,615,866
    0098                       41   33  36   0  82             41 200,924,323
729 0045                       41   40  35   0  86             41  35,912,605
    0059                       41   26  30   0  67             41  74,376,911
    0062                       41   29  31   0  70             41 623,129,247
    0067                       41   30  32   0  73             41 341,140,181
    0073                       41   46  39   0  97             41 286,807,733
    0094                       41   29  30   0  70             41 623,186,509
784 0006                       41   42  36   0  89             41 276,057,114
    0008                       41   41  36   0  87             41 276,177,120
    0026                       41   34  31   0  74             41  59,918,057
    0040                       41   48  38   0  96             41 735,967,553
    0070                       41   33  32   0  76             41 183,775,081
841 0025                       41   29  27   0  65             41  29,890,536
    0044                       41   38  32   0  79             41 253,701,747
    0087                       41   29  27   0  65             41  51,796,068
900 0024                       41   28  25   0  61             41 134,193,046
    0033                       41   27  24   0  58             41 376,626,466
    0058                       41   37  30   0  75             41 609,862,088
    0069                       41   43  31   2  81             41 465,374,188
    0086                       41   37  29   0  73             41 571,279,639
    0096                       41   34  28   0  70             41 217,268,711

                                              Measurement cost            \
                  std       min           max            count      mean
S   input
1   0010      222,622   108,814       684,696               41   356,159
    0013      210,771   352,700     1,520,600               41   439,332
    0034      150,017   148,964     1,040,950               41   249,378
    0088      189,190   138,378       624,046               41   376,361
4   0003    2,483,867   271,208    16,356,800               41   593,300
    0055    1,103,587    87,568     5,085,600               41   872,239
9   0030   16,404,223   362,690   106,636,500               41 2,212,429
    0041    4,175,448    80,104    25,745,850               41 1,493,524
    0079    9,350,049   216,424    60,737,850               41 1,611,146
    0082   16,416,266   358,740   106,636,500               41 1,627,339
16  0023    9,329,457    74,574    57,971,200               41 3,527,732
    0036   74,758,375   496,594   482,342,400               41 3,874,990
    0076   26,027,262   177,434   168,921,600               41 3,484,615
25  0012   36,350,108   311,352   235,875,000               41 3,841,771
    0018   97,690,663   694,720   629,031,250               41 3,667,651
    0029  105,948,209   731,596   681,968,750               41 4,661,588
36  0000  143,422,580 2,659,742   925,538,400               41 6,723,000
    0007  135,519,902 2,395,572   874,670,400               41 4,620,132
    0042   56,585,727   936,762   365,796,000               41 4,396,576
    0043   61,687,349 1,036,392   399,621,600               41 7,000,915
    0049   23,139,664   415,422   150,984,000               41 4,466,561
    0061    7,555,770   136,264    44,128,800               41 6,904,502
    0089   97,362,993 1,686,624   628,300,800               41 5,889,249
    0099   31,960,902   562,486   207,489,600               41 4,398,402
49  0074  137,435,542 3,461,356   888,370,000               41 5,694,005
81  0011  130,485,185 5,144,594   848,665,350               41 6,820,632
    0016   38,494,565 2,807,384   254,238,750               41 6,911,805
    0017   41,894,849         0   163,696,950               41 3,924,063
    0020   44,509,341 3,799,330   292,620,600               41 7,211,410
    0056   68,291,540 5,146,830   446,148,000               41 6,549,746
    0072   41,643,947 3,497,594   273,265,650               41 6,862,951
    0077  104,247,652 5,580,220   679,063,500               41 7,138,388
100 0048   31,787,970         0   163,000,000               41 3,871,866
    0081   44,416,786         0   217,000,000               41 3,814,598
121 0063  111,867,726         0   366,025,000               41 3,229,244
    0071  249,751,880         0   842,589,550               41 3,501,059
144 0014   57,238,709 5,988,086   372,211,200               41 6,628,463
    0085   15,471,174         0    75,686,400               41 4,026,610
169 0051   81,910,869         0   429,843,050               41 2,782,941
    0083  344,297,049         0 1,765,069,800               41 2,373,432
196 0009   15,973,765         0    90,277,600               41 1,946,049
    0047   90,790,431         0   528,220,000               41 3,599,724
225 0027   28,587,987         0   166,000,000               41 4,039,817
    0031   66,800,457         0   384,000,000               41 2,867,532
    0080  333,218,036         0 1,906,000,000               41 3,085,200
    0095   93,387,816         0   550,000,000               41 3,949,834
256 0032  402,849,062         0 2,302,000,000               41 2,536,049
    0050  167,814,987         0   966,000,000               41 3,712,427
    0054  324,981,234         0 1,862,000,000               41 2,515,132
289 0001  215,036,260         0 1,218,000,000               41 2,734,976
    0022  136,725,188         0   772,000,000               41 2,557,273
    0039   96,084,200         0   550,000,000               41 4,778,151
    0053  352,137,183         0 1,966,000,000               41 3,082,049
324 0002   97,585,876         0   550,000,000               41 4,659,041
    0057   67,191,552         0   374,000,000               41 5,048,800
    0065  310,141,354         0 1,722,000,000               41 4,873,880
    0084  174,258,656         0   966,000,000               41 3,398,371
361 0015  342,440,425         0 1,862,000,000               41 6,201,720
    0091   59,311,100         0   326,000,000               41 5,023,629
    0093   68,169,926         0   374,000,000               41 5,957,385
400 0078  191,711,231         0 1,000,000,000               41 5,857,649
441 0028  130,755,489         0   648,000,000               41 6,538,380
    0060  307,027,803         0 1,510,000,000               41 7,614,361
    0068   25,214,701         0   124,000,000               41 7,174,307
    0075  110,497,228         0   550,000,000               41 7,144,683
484 0021   62,569,666         0   282,000,000               41 5,164,751
    0038   36,884,257         0   166,000,000               41 6,549,217
    0066  219,304,632         0 1,000,000,000               41 7,087,256
    0090   62,389,607         0   282,000,000               41 6,221,788
529 0004  261,961,338         0 1,066,000,000               41 7,737,278
    0005  298,901,010         0 1,218,000,000               41 8,115,044
    0092   57,225,004         0   232,000,000               41 7,767,988
    0097  261,562,236         0 1,066,000,000               41 7,278,717
576 0019  571,776,456         0 2,086,000,000               41 6,874,939
    0035  129,477,796         0   474,000,000               41 6,376,829

In [163]:
df[df['path']=='log.txt'].groupby(['S', 'input'])[['Score', 'Number of wrong answers', 'Placement cost', 'Measurement cost', 'Measurement count']].agg(['mean'])

                Score Number of wrong answers Placement cost Measurement cost  \
                 mean                    mean           mean             mean
S   input
1   0010  154,918,668                       0        137,000          408,500
    0013   85,145,804                       0        440,856          633,600
    0034  144,757,604                       0        311,310          279,500
    0088  146,948,181                       0        163,412          417,100
4   0003   98,506,834                       0        292,958          622,200
    0055   80,096,501                       0         90,094        1,058,400
9   0030   26,692,021                       0        440,038        3,206,400
    0041   55,049,710                       0        104,040        1,612,500
    0079   42,266,606                       0        259,334        2,006,600
    0082   35,612,054                       0        440,038        2,268,000
16  0023   39,836,734                       0        241,246        2,169,000
    0036   18,924,448                       0      1,889,970        3,294,200
    0076   29,781,689                       0        626,168        2,631,600
25  0012   28,481,233                       0      1,283,084        2,128,000
    0018   19,445,228                       0      2,808,850        2,233,800
    0029   15,033,909                       0      3,138,830        3,412,800
36  0000    7,700,381                       0     10,473,372        2,413,000
    0007    8,275,539                       0     10,180,406        1,803,400
    0042   17,319,587                       0      4,048,210        1,625,600
    0043   13,818,118                       0      4,096,876        3,040,000
    0049   27,664,492                       0      1,699,142        1,815,600
    0061   23,782,718                       0        629,534        3,475,200
    0089   11,003,933                       0      6,798,260        2,189,400
    0099   19,801,643                       0      2,324,086        2,626,000
49  0074    6,022,606                       0     14,776,910        1,727,200
81  0011    2,366,887                       0     40,010,690        2,138,900
    0016    6,706,869                       0     12,423,288        2,386,800
    0017    9,106,998                       0      6,509,768        4,370,800
    0020    5,812,595                       0     14,349,820        2,754,200
    0056    3,948,612                       0     23,321,356        1,904,000
    0072    6,838,020                       0     12,619,118        1,905,000
    0077    2,805,636                       0     33,281,946        2,260,600
100 0048    9,147,503                       0      7,525,346        3,306,600
    0081    6,681,686                       0     10,895,284        3,971,000
121 0063    2,012,891                       0     46,571,810        3,008,000
    0071      969,724                       0    100,237,592        2,784,600
144 0014    2,039,877                       0     47,102,564        1,820,000
    0085    6,769,363                       0     12,506,440        2,166,000
169 0051    1,809,321                       0     52,386,962        2,782,400
    0083      472,832                       0    209,459,704        1,932,000
196 0009    8,163,388                       0     10,112,416        2,037,400
    0047    1,846,768                       0     50,203,854        3,844,800
225 0027    5,418,132                       0     13,036,548        5,320,000
    0031    2,235,080                       0     40,925,940        3,715,200
    0080      605,321                       0    161,215,070        3,886,800
    0095    1,834,989                       0     50,203,854        4,192,400
256 0032      496,181                       0    198,121,606        3,318,000
    0050    1,138,723                       0     82,957,704        4,760,000
    0054      620,127                       0    157,990,898        3,166,600
289 0001      876,105                       0    110,147,646        3,894,000
    0022    1,362,579                       0     69,911,274        3,379,000
    0039    1,709,284                       0     50,203,854        8,200,200
    0053      589,668                       0    164,727,092        4,760,000
324 0002    1,729,110                       0     50,203,854        7,529,400
    0057    2,713,804                       0     29,680,258        7,068,400
    0065      614,677                       0    155,286,754        7,300,500
    0084    1,121,646                       0     82,957,704        6,097,000
361 0015      462,582                       1    157,990,898       14,851,700
    0091    2,597,254                       0     28,677,308        9,724,900
    0093    2,410,681                       0     29,680,258       11,701,800
400 0078      956,094                       0     94,327,052       10,165,200
441 0028    1,157,340                       1     53,638,450       15,385,600
    0060      554,488                       1    129,395,030       14,782,400
    0068    1,285,060                       5     10,254,404       15,144,800
    0075    1,221,049                       1     50,203,854       15,213,600
484 0021    2,881,684                       0     23,454,342       11,147,600
    0038    1,784,336                       3     13,036,548       15,557,600
    0066      729,199                       1     94,327,052       15,282,400
    0090    2,609,499                       0     23,454,342       14,767,200
529 0004      195,045                       0    504,584,704        8,019,000
    0005      170,177                       0    576,532,992       10,992,600
    0092      834,887                       0    109,815,808        9,861,000
    0097      195,399                       0    504,584,704        7,090,500
576 0019       84,925                       0  1,170,248,086        7,163,000
    0035      366,674                       0    265,914,474        6,708,000
    0064    1,003,098                       0     93,126,166        6,465,000
625 0037    1,391,400                       0     62,131,086        9,639,000
    0046    1,350,887                       0     62,131,086       11,794,400
676 0052       61,650                       0  1,611,729,126       10,256,000
    0098      177,270                       0    554,756,238        9,256,800
729 0045      795,858                       0    111,439,296       14,111,400
    0059      430,938                       0    224,676,000        7,276,000
    0062       53,115                       0  1,874,696,544        7,937,800
    0067       97,308                       0  1,020,927,744        6,643,000
    0073      113,699                       0    868,148,064       11,270,000
    0094       53,118                       0  1,874,696,544        7,826,000
784 0006      111,017                       0    892,000,000        8,668,600
    0008      111,092                       0    892,000,000        8,056,200
    0026      477,961                       0    198,000,000       11,122,200
    0040       41,699                       0  2,384,000,000       14,063,000
    0070      162,891                       0    602,000,000       11,810,400
841 0025      990,580                       0     94,000,000        6,851,000
    0044      120,701                       0    818,000,000       10,396,400
    0087      576,781                       0    166,000,000        7,276,200
900 0024      227,303                       0    432,000,000        7,843,000
    0033       81,438                       0  1,218,000,000        9,834,000
    0058       50,546                       0  1,966,000,000       12,327,200
    0069       41,960                       2  1,510,000,000       15,179,200
    0086       53,352                       0  1,862,000,000       12,254,400
    0096      136,742                       0    718,000,000       13,204,800

          Measurement count
                       mean
S   input
1   0010                380
    0013                576
    0034                260
    0088                388
4   0003                549
    0055                924
9   0030              2,592
    0041              1,350
    0079              1,659
    0082              1,863
16  0023              1,800
    0036              2,639
    0076              2,150
25  0012              1,748
    0018              1,825
    0029              2,686
36  0000              1,995
    0007              1,491
    0042              1,344
    0043              2,470
    0049              1,496
    0061              2,784
    0089              1,804
    0099              2,080
49  0074              1,428
81  0011              1,752
    0016              1,950
    0017              3,430
    0020              2,256
    0056              1,564
    0072              1,575
    0077              1,869
100 0048              2,673
    0081              3,135
121 0063              2,444
    0071              2,275
144 0014              1,495
    0085              1,805
169 0051              2,220
    0083              1,587
196 0009              1,647
    0047              3,026
225 0027              4,085
    0031              2,880
    0080              3,034
    0095              3,290
256 0032              2,590
    0050              3,655
    0054              2,485
289 0001              2,970
    0022              2,604
    0039              5,846
    0053              3,570
324 0002              5,518
    0057              5,166
    0065              5,394
    0084              4,422
361 0015             10,000
    0091              6,794
    0093              8,217
400 0078              7,138
441 0028             10,000
    0060             10,000
    0068             10,000
    0075             10,000
484 0021              7,378
    0038             10,000
    0066             10,000
    0090              9,576
529 0004              5,751
    0005              7,719
    0092              7,030
    0097              5,220
576 0019              5,070
    0035              4,740
    0064              4,725
625 0037              6,800
    0046              8,188
676 0052              7,120
    0098              6,552
729 0045              9,483
    0059              5,168
    0062              5,609
    0067              4,818
    0073              7,938
    0094              5,530
784 0006              6,230
    0008              5,829
    0026              7,548
    0040              9,604
    0070              7,980
841 0025              4,875
    0044              7,189
    0087              5,159
900 0024              5,456
    0033              6,600
    0058              8,284
    0069             10,000
    0086              8,214
    0096              8,712

## チューニング

In [44]:
df_params = pd.read_csv('ahc022_best_params.csv')

In [45]:
df_params['sample'] = df_params['sample'].apply(lambda x: f"{x:04d}")
df_params.rename(columns={'sample': "input"}, inplace=True)

In [46]:
df_params.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   input         100 non-null    object
 1   L             100 non-null    int64
 2   N             100 non-null    int64
 3   S             100 non-null    int64
 4   best_value    100 non-null    float64
 5   interval      100 non-null    int64
 6   interval_num  100 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.6+ KB

In [47]:
df_params.sum()

input           0000000100020003000400050006000700080009001000...
L                                                            2910
N                                                            8005
S                                                           34501
best_value                                          1,111,152,372
interval                                                    19668
interval_num                                                10082
dtype: object

In [60]:
df_params.groupby(['S', 'input'])[['L', 'N', 'best_value', 'interval', 'interval_num']].sum()

            L   N  best_value  interval  interval_num
S   input
1   0010   22  95 125,232,620         7             5
    0013   43  96  50,518,369        13             2
    0034   36  65  60,577,425         1            57
    0088   24  97  95,412,018         1            58
4   0003   35  61  75,017,179        14             2
    0055   19  84  84,648,919        15             3
9   0030   40  96  30,653,784        12             5
    0041   19  75  68,234,049        14             5
    0079   30  79  43,100,030         2            30
    0082   40  81  37,645,500        18             3
16  0023   16  90  45,960,952        24             4
    0036   48  91  17,864,238         6            10
    0076   28  86  27,356,788        50             2
25  0012   24  76  22,480,721         1            90
    0018   39  73  17,120,128        11             7
    0029   40  79  14,350,497         5            16
36  0000   50  95   7,585,960        16             5
    0007   49  71   8,019,226         2            55
    0042   31  64  14,891,962        34             3
    0043   33  95  10,315,762        16             8
    0049   20  68  23,634,583         4            32
    0061   10  96  33,978,495        13            15
    0089   41  82   8,731,051        54             2
    0099   23  65  19,215,250        40             3
49  0074   43  68   7,399,283        14             9
81  0011   45  73   4,471,353         1           145
    0016   24  78   7,930,688         7            22
    0017   19  98   8,495,040         2           125
    0020   26  94   7,085,274         3            65
    0056   32  68   6,748,003        30             5
    0072   25  75   8,084,536         1           154
    0077   40  89   4,093,983        17             9
100 0048   15  99   9,563,975         6            44
    0081   18  95   7,646,886         1           220
121 0063   32  94   3,704,965        17            12
    0071   48  91   1,876,313         3            78
144 0014   26  65   4,499,782         5            52
    0085   12  95   8,191,573         7            52
169 0051   24  74   3,794,994         3            90
    0083   50  69   1,227,982         4            75
196 0009   10  61  10,522,311        14            23
    0047   23  89   3,170,516         1           353
225 0027   13  95   4,533,580         1           471
    0031   20  72   3,636,981         2           187
    0080   44  82   1,139,319        20            17
    0095   23  94   2,495,778         6            63
256 0032   48  70     832,601         2           186
    0050   31  85   1,503,803        32            13
    0054   43  71   1,001,237         6            63
289 0001   35  66   1,393,282         1           380
    0022   28  62   1,969,629         2           193
    0039   23  79   1,928,704        35            13
    0053   45  70     759,234        14            30
324 0002   23  89   1,452,119        93             6
    0057   19  82   2,277,301        44            11
    0065   42  93     561,011        13            41
    0084   31  67   1,227,094         6            78
361 0015   43  93     451,758        34            17
    0091   18  79   2,324,839         1           497
    0093   19  99   1,207,722       167             4
400 0078   32  86     602,346         1           680
441 0028   25  76     969,358       368             2
    0060   39  96     343,660         1           740
    0068   11  83   3,012,274         1           643
    0075   23  81   1,078,889         9            73
484 0021   17  62   1,773,570       117             6
    0038   13  71   2,530,736         2           335
    0066   32  79     522,013         8            90
    0090   17  63   1,705,678         1           671
529 0004   33  81     280,656       566             2
    0005   35  93     241,340       348             3
    0092   15  95   1,094,598         2           485
    0097   33  87     378,613       215             4
576 0019   46  65     210,763         1           829
    0035   22  60     917,768        25            30
    0064   13  75   2,004,996         3           248
625 0037   10  85   2,103,970       330             3
    0046   10  92   2,023,261         1           968
676 0052   46  80     124,726       614             2
    0098   26  84     303,157       662             2
729 0045   11  87     976,048       840             2
    0059   16  68     710,786       709             2
    0062   46  71      88,384       653             2
    0067   34  73     180,860       688             2
    0073   31  98     146,410       832             2
    0094   46  70     113,168       400             3
784 0006   30  89     156,022       838             2
    0008   30  87     144,999       870             2
    0026   14  74     864,716       712             2
    0040   49  98      54,598       780             2
    0070   24  76     350,943       671             2
841 0025   10  65   1,399,842       784             2
    0044   29  79     178,247       817             2
    0087   13  67     943,564       738             2
900 0024   21  62     405,527       733             2
    0033   35  60     124,033       806             2
    0058   45  76      67,332       865             2
    0069   39  82      49,379       921             2
    0086   43  74      59,834       943             2
    0096   26  72     166,353       805             2

In [61]:
df[df['path']=="log.txt"].groupby(['S', 'input'])[['L', 'N', 'Score']].sum()

           L  N       Score
S   input
1   0010  22 95 154,918,668
    0013  43 96  85,145,804
    0034  36 65 144,757,604
    0088  24 97 146,948,181
4   0003  35 61  98,506,834
    0055  19 84  80,096,501
9   0030  40 96  26,692,021
    0041  19 75  55,049,710
    0079  30 79  42,266,606
    0082  40 81  35,612,054
16  0023  16 90  39,836,734
    0036  48 91  18,924,448
    0076  28 86  29,781,689
25  0012  24 76  28,481,233
    0018  39 73  19,445,228
    0029  40 79  15,033,909
36  0000  50 95   7,700,381
    0007  49 71   8,275,539
    0042  31 64  17,319,587
    0043  33 95  13,818,118
    0049  20 68  27,664,492
    0061  10 96  23,782,718
    0089  41 82  11,003,933
    0099  23 65  19,801,643
49  0074  43 68   6,022,606
81  0011  45 73   2,366,887
    0016  24 78   6,706,869
    0017  19 98   9,106,998
    0020  26 94   5,812,595
    0056  32 68   3,948,612
    0072  25 75   6,838,020
    0077  40 89   2,805,636
100 0048  15 99   9,147,503
    0081  18 95   6,681,686
121 0063  32 94   2,012,891
    0071  48 91     969,724
144 0014  26 65   2,039,877
    0085  12 95   6,769,363
169 0051  24 74   1,809,321
    0083  50 69     472,832
196 0009  10 61   8,163,388
    0047  23 89   1,846,768
225 0027  13 95   5,418,132
    0031  20 72   2,235,080
    0080  44 82     605,321
    0095  23 94   1,834,989
256 0032  48 70     496,181
    0050  31 85   1,138,723
    0054  43 71     620,127
289 0001  35 66     876,105
    0022  28 62   1,362,579
    0039  23 79   1,709,284
    0053  45 70     589,668
324 0002  23 89   1,729,110
    0057  19 82   2,713,804
    0065  42 93     614,677
    0084  31 67   1,121,646
361 0015  43 93     462,582
    0091  18 79   2,597,254
    0093  19 99   2,410,681
400 0078  32 86     956,094
441 0028  25 76   1,157,340
    0060  39 96     554,488
    0068  11 83   1,285,060
    0075  23 81   1,221,049
484 0021  17 62   2,881,684
    0038  13 71   1,784,336
    0066  32 79     729,199
    0090  17 63   2,609,499
529 0004  33 81     195,045
    0005  35 93     170,177
    0092  15 95     834,887
    0097  33 87     195,399
576 0019  46 65      84,925
    0035  22 60     366,674
    0064  13 75   1,003,098
625 0037  10 85   1,391,400
    0046  10 92   1,350,887
676 0052  46 80      61,650
    0098  26 84     177,270
729 0045  11 87     795,858
    0059  16 68     430,938
    0062  46 71      53,115
    0067  34 73      97,308
    0073  31 98     113,699
    0094  46 70      53,118
784 0006  30 89     111,017
    0008  30 87     111,092
    0026  14 74     477,961
    0040  49 98      41,699
    0070  24 76     162,891
841 0025  10 65     990,580
    0044  29 79     120,701
    0087  13 67     576,781
900 0024  21 62     227,303
    0033  35 60      81,438
    0058  45 76      50,546
    0069  39 82      41,960
    0086  43 74      53,352
    0096  26 72     136,742

In [62]:
pd.concat([df_params.groupby(['S', 'input'])[['L', 'N', 'interval', 'interval_num', 'best_value']].sum(), df[df['path']=="log.txt"].groupby(['S', 'input'])['Score'].sum()], axis=1)

            L   N  interval  interval_num  best_value       Score
S   input
1   0010   22  95         7             5 125,232,620 154,918,668
    0013   43  96        13             2  50,518,369  85,145,804
    0034   36  65         1            57  60,577,425 144,757,604
    0088   24  97         1            58  95,412,018 146,948,181
4   0003   35  61        14             2  75,017,179  98,506,834
    0055   19  84        15             3  84,648,919  80,096,501
9   0030   40  96        12             5  30,653,784  26,692,021
    0041   19  75        14             5  68,234,049  55,049,710
    0079   30  79         2            30  43,100,030  42,266,606
    0082   40  81        18             3  37,645,500  35,612,054
16  0023   16  90        24             4  45,960,952  39,836,734
    0036   48  91         6            10  17,864,238  18,924,448
    0076   28  86        50             2  27,356,788  29,781,689
25  0012   24  76         1            90  22,480,721  28,481,233
    0018   39  73        11             7  17,120,128  19,445,228
    0029   40  79         5            16  14,350,497  15,033,909
36  0000   50  95        16             5   7,585,960   7,700,381
    0007   49  71         2            55   8,019,226   8,275,539
    0042   31  64        34             3  14,891,962  17,319,587
    0043   33  95        16             8  10,315,762  13,818,118
    0049   20  68         4            32  23,634,583  27,664,492
    0061   10  96        13            15  33,978,495  23,782,718
    0089   41  82        54             2   8,731,051  11,003,933
    0099   23  65        40             3  19,215,250  19,801,643
49  0074   43  68        14             9   7,399,283   6,022,606
81  0011   45  73         1           145   4,471,353   2,366,887
    0016   24  78         7            22   7,930,688   6,706,869
    0017   19  98         2           125   8,495,040   9,106,998
    0020   26  94         3            65   7,085,274   5,812,595
    0056   32  68        30             5   6,748,003   3,948,612
    0072   25  75         1           154   8,084,536   6,838,020
    0077   40  89        17             9   4,093,983   2,805,636
100 0048   15  99         6            44   9,563,975   9,147,503
    0081   18  95         1           220   7,646,886   6,681,686
121 0063   32  94        17            12   3,704,965   2,012,891
    0071   48  91         3            78   1,876,313     969,724
144 0014   26  65         5            52   4,499,782   2,039,877
    0085   12  95         7            52   8,191,573   6,769,363
169 0051   24  74         3            90   3,794,994   1,809,321
    0083   50  69         4            75   1,227,982     472,832
196 0009   10  61        14            23  10,522,311   8,163,388
    0047   23  89         1           353   3,170,516   1,846,768
225 0027   13  95         1           471   4,533,580   5,418,132
    0031   20  72         2           187   3,636,981   2,235,080
    0080   44  82        20            17   1,139,319     605,321
    0095   23  94         6            63   2,495,778   1,834,989
256 0032   48  70         2           186     832,601     496,181
    0050   31  85        32            13   1,503,803   1,138,723
    0054   43  71         6            63   1,001,237     620,127
289 0001   35  66         1           380   1,393,282     876,105
    0022   28  62         2           193   1,969,629   1,362,579
    0039   23  79        35            13   1,928,704   1,709,284
    0053   45  70        14            30     759,234     589,668
324 0002   23  89        93             6   1,452,119   1,729,110
    0057   19  82        44            11   2,277,301   2,713,804
    0065   42  93        13            41     561,011     614,677
    0084   31  67         6            78   1,227,094   1,121,646
361 0015   43  93        34            17     451,758     462,582
    0091   18  79         1           497   2,324,839   2,597,254
    0093   19  99       167             4   1,207,722   2,410,681
400 0078   32  86         1           680     602,346     956,094
441 0028   25  76       368             2     969,358   1,157,340
    0060   39  96         1           740     343,660     554,488
    0068   11  83         1           643   3,012,274   1,285,060
    0075   23  81         9            73   1,078,889   1,221,049
484 0021   17  62       117             6   1,773,570   2,881,684
    0038   13  71         2           335   2,530,736   1,784,336
    0066   32  79         8            90     522,013     729,199
    0090   17  63         1           671   1,705,678   2,609,499
529 0004   33  81       566             2     280,656     195,045
    0005   35  93       348             3     241,340     170,177
    0092   15  95         2           485   1,094,598     834,887
    0097   33  87       215             4     378,613     195,399
576 0019   46  65         1           829     210,763      84,925
    0035   22  60        25            30     917,768     366,674
    0064   13  75         3           248   2,004,996   1,003,098
625 0037   10  85       330             3   2,103,970   1,391,400
    0046   10  92         1           968   2,023,261   1,350,887
676 0052   46  80       614             2     124,726      61,650
    0098   26  84       662             2     303,157     177,270
729 0045   11  87       840             2     976,048     795,858
    0059   16  68       709             2     710,786     430,938
    0062   46  71       653             2      88,384      53,115
    0067   34  73       688             2     180,860      97,308
    0073   31  98       832             2     146,410     113,699
    0094   46  70       400             3     113,168      53,118
784 0006   30  89       838             2     156,022     111,017
    0008   30  87       870             2     144,999     111,092
    0026   14  74       712             2     864,716     477,961
    0040   49  98       780             2      54,598      41,699
    0070   24  76       671             2     350,943     162,891
841 0025   10  65       784             2   1,399,842     990,580
    0044   29  79       817             2     178,247     120,701
    0087   13  67       738             2     943,564     576,781
900 0024   21  62       733             2     405,527     227,303
    0033   35  60       806             2     124,033      81,438
    0058   45  76       865             2      67,332      50,546
    0069   39  82       921             2      49,379      41,960
    0086   43  74       943             2      59,834      53,352
    0096   26  72       805             2     166,353     136,742